.categories {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #000;
  color: #fff;
  width: 100%;
  min-height: 80vh;
  cursor: pointer;
  div {
    margin: 30px;
    align-items: center;
  }
  img {
    height: 100px;
    width: 150px;
    margin: -10px;
    &:hover {
      transform: scale(1.1);
    }
  }
  h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 15px;
    font-style: italic;
  }
}
