.home {
  width: 100%;
  min-height: 85vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  img {
    height: 250px;
    width: 300px;
    &:hover {
      transform: scale(0.9);
    }
    border-radius: 8px;
  }
  input {
    background-color: #fff;
    color: #000;
    width: 200px;
    height: 40px;
    border: none;
    margin: 20px 20px 0px 0px;
    border-radius: 8px;
    font-size: 15px;
  }
  button {
    background-color: #bd5631;
    color: #fff;
    height: 35px;
    margin: 20px 120px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    text-decoration:none;
  }
  &-search{
    margin-bottom:10px;
    display:flex;
    justify-content: space-around;
  }
  &-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding:0px;
    margin:0px;
  }
  h4{
    text-align:center;
    font-size:15px;
  }
}
